// Light theme
// $color-background:      #ffffff;
// $color-text-primary:    #000000;
// $color-text-secondary:  #646464;

// Dark theme
$color-background:      #414141;
$color-text-primary:    #ffcc00;
$color-text-secondary:  #a1a1a1;