$screen-xs:     320px !default;
$screen-s:      540px !default;
$screen-m:      768px !default;
$screen-l:      1084px !default;
$screen-xl:     1400px !default;
$screen-xxl:    2048px !default;

$spacer-xxs:    4px;
$spacer-xs:     8px;
$spacer-s:      24px;
$spacer-m:      48px;
$spacer-l:      96px;
$spacer-xl:     192px;
$spacer-xxl:    288px;