@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

html,
body,
.container,
.row {
    height: 100%;
}

body {
    background-color: $color-background;
}
    
body,
h1, h2, h3, h4, h5, h6, h7,
p {
    margin: 0;
    padding: 0;
    
    font-family: Arimo, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: $type-5;
    font-weight: 400;
    line-height: 1.45;
    vertical-align: baseline;
    
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

.content {
    display: table;
    height: 100%;
}