// Shared
@import "shared/package";

.content {
    &_container {
        display: table-cell;
        vertical-align: middle;
        
        &_title {
            color: $color-text-primary;
            font-size: $type-2;
            font-weight: 700;
        }

        &_desc {
            margin-top: $spacer-s;
            color: $color-text-secondary;
            font-size: $type-5;
        }
        
        &_projects {
            margin-top: $spacer-s;
        }
        
        &_hr {
            width: $spacer-l;
            margin: $spacer-m 0 0;
            padding: 0;
            text-align: left;
            border-top: 4px solid $color-text-secondary;
        }
        
        &_contacts {
            margin-top: $spacer-xs;
        }
    }
}

.project {
    &_link {
        color: $color-text-secondary;
        
        &:hover,
        &:focus {
            text-decoration: none;
            
            .project_link_name {
                text-decoration: underline;
            }
        }
        
        &_name {
            color: $color-text-primary;
            font-weight: 700;
        }
    }
}

.contact {
    margin: 0;
    
    &_link {
        color: $color-text-secondary;
        font-size: $type-6;
    }
}