.tile {
    @include fullscreen();
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;

    .sunset & {
        background-color: rgba(0, 0, 0, .6);
    }

    section {
        padding: 0 48px;
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        color: $color-fg;

        h1 {
            margin: 0 0 30px;
            font-size: 54px;
            font-weight: 900;
            line-height: 0.85;
            letter-spacing: -0.03em;
        }

        p {
            margin: 24px 0;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.48;
            max-width: 80%;

            a {
                color: $color-fg;
                text-decoration: none;

                .sunrise & {
                    background-image: linear-gradient(to bottom, rgba(241, 241, 241, .8) 50%, transparent 50%);
                    background-size: 2px .1em;
                    background-repeat: repeat-x;
                    background-position: 0 1.1em;
                }

                .sunset & {
                    color: $color-theme;
                }
            }
        }

        @media only screen and (min-width: $vp2) {
            padding: 0 48px 0 20%;

            p {
                max-width: 60%;
            }
        }

        @media only screen and (min-width: $vp3) {
            h1 {
                font-size: 64px;
            }

            p {
                font-size: 15px;
                max-width: 50%;
            }
        }
    }
}