<div class="container">
    <div class="row">
        <div class="app_content col-xs-24 col-sm-12 col-sm-offset-4">
            <h1 class="app_content_title">{{title}}</h1>
            <p class="app_content_desc">{{description}}</p>
            <ul class="app_content_projects list-unstyled">
                <li class="project" *ngFor="#project of projects">
                    <a class="project_link" href={{project.mainUrl}}>
                        <div class="project_link_name">{{project.name}}</div>
                        <div class="project_link_desc">{{project.description}}</div>
                    </a>
                </li>
            </ul>
            <hr class="app_content_hr">
            <ul class="app_content_contacts list-unstyled">
                <li class="contact" *ngFor="#contact of contacts">
                    <a class="contact_link" href={{contact.url}}>
                        {{contact.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>