<div class="content_container">
    <h1 class="content_container_title">{{title}}</h1>
    <p class="content_container_desc">{{description}}</p>
    <ul class="content_container_projects list-unstyled">
        <li class="project" *ngFor="#project of projects">
            <a class="project_link" href={{project.mainUrl}}>
                <div class="project_link_name">{{project.name}}</div>
                <div class="project_link_desc">{{project.description}}</div>
            </a>
        </li>
    </ul>
    <hr class="content_container_hr">
    <ul class="content_container_contacts list-unstyled">
        <li class="contact" *ngFor="#contact of contacts">
            <a class="contact_link" href={{contact.url}}>
                {{contact.name}}
            </a>
        </li>
    </ul>
</div>